<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <%-include("partials/title", {text:'Login'}) %>

      <div class="form_container">
          <form action="/getuserdetails" method="POST">
              <label for="username">Username:</label><br>
              <input type="text" id="username" name="username"/><br>
              <label for="password">Password:</label><br>
              <input type="password" id="password" name="password"/><br><br>
              <button type="submit">login</button>
          </form>
      </div>
  </body>
</html>
