<!DOCTYPE html>
<html>
  <head>
    <title>Users Management Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <%-include("partials/title", {text:'Users Management'}) %>
      <ul>
        <% users.forEach(x=>{%>
            <li><%=x.username%> <a href="/usersManagement/deleteUser/<%=x.id%>">delete</a> <a href="/userData/<%=x.id%>">update</a></li>
        <%})%>
      </ul>
      <a href="/userData">Add New ></a><br>
      <a href="/menu">Back ></a>
  </body>
</html>
